* {
  box-sizing: border-box;
}

p {
  font-family: arial;
}

.nav-img {
  width: 100%;
  height: 300px;
}

.student-img {
  width: 100%;
  height: auto;
  margin: 0;
}

.logo {
  position: absolute;
  width: 18%;
  left: 50px;
  top: 20px;
}

.menu a {
  width: 170px;
  height: 30px;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  background: #1cb0e6;
  color: white;
  text-decoration: none;
  padding: 3px 0px;
  margin-left: 5px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 1px 4px #fff;
  transition: 0.3s ease all;
}

.menu a:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.menu a:active {
  transform: scale(0.9);
}

.menu {
  position: absolute;
  right: 1em;
  top: 3rem;
  width: 67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apply-section {
  font-family: arial;
  position: absolute;
  right: 200px;
  top: 120px;
  width: 30%;
}

.blue {
  font-family: arial;
  letter-spacing: 0.5em;
  font-size: 15px;
  text-align: center;
  color: #1cb0e6;
  font-weight: bold;
  margin-bottom: 0px;
}

.purple {
  font-family: "Chango", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: rgba(0, 17, 128, 0.912);
  font-weight: bold;
  margin: 0;
}

button {
  height: 50px;
  font-family: "Chango", sans-serif;
  font-size: 15px;
  border: 7px solid rgba(0, 17, 128, 0.912);
  border-radius: 4px;
  background-color: red;
  color: #fff;
  transition: 0.3s ease-in-out;
  margin-left: 130px;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

button:active {
  transform: scale(0.9);
}

a {
  color: #fff;
  text-decoration: none;
}

center {
  font-size: 30px;
  margin-top: 100px;
}

h2 {

  color: blue;
  font-size: 70px;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.tel {
  padding: 0;
  margin: 0;
  font-size: 40px;
  text-align: center
}

.email {
  padding: 0;
  margin-top: 30px;
  font-size: 20px;
  text-align: center
}

@media (max-width: 1024px) {
  .nav-img {
    width: 100%;
    height: 200px;
  }

  .menu {
    width: 67%;
    top: 30px;
  }

  .menu a {
    font-size: 15px;
    height: px;
  }

  .logo {
    width: 15%;
    left: 10px;
  }

  .apply-section {
    right: 110px;
    top: 130px;
    width: 35%;
  }

  .blue {
    font-size: 10px;
  }

  .purple {
    font-size: 2rem;
  }

  button {
    width: 30%;
    height: 35px;
    font-size: 10px;
  }

  h2 {
    word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .nav-img {
    width: 100%;
    height: 150px;
  }

  .menu {
    width: 80%;
    top: 1rem;
  }

  .menu a {
    width: 150px;
    height: 25px;
    text-align: center;
    font-size: 16px;
  }

  .logo {
    width: 15%;
  }

  .apply-section {
    right: 0px;
    top: 65px;
    width: 50%;
  }

  .blue {
    font-size: 14px;
  }

  .purple {
    margin-top: 0;
    font-size: 28px;
  }

  button {
    width: 50%;
    height: 35px;
    font-size: 16px;
    border: 3px solid rgba(0, 17, 128, 0.912);
    margin-left: 80px;
  }

  center {
    font-size: 14px;
    margin-top: 50px;
  }

  h2 {
    word-wrap: break-word;
    font-size: 22px;
  }

  .tel {
    font-size: 16px;
  }

  .email {
    font-size: 16px;
    margin-top: 19px;
  }
}

@media (max-width: 360px) {

  .nav-img {
    width: 100%;
    height: 100px;
  }

  .menu {
    gap: 0;
    margin: 0;
    top: 10px;
    width: 95%;
    left: auto;
    right: auto;
  }

  .menu a {
    height: 15px;
    box-shadow: 1px 2px #fff;
    padding-top: 3px;
    padding-left: 0px;
    font-size: 8px;
  }

  .logo {
    width: 17%;
    top: 40px;
  }

  .apply-section {
    right: 0px;
    top: 50px;
    width: 50%;
  }

  .blue {
    font-size: 5px;
  }

  .purple {
    font-size: 0.6rem;
  }

  button {
    margin-top: 3px;
    width: 40%;
    height: 20px;
    font-size: 8px;
    border: 1px solid rgba(0, 17, 128, 0.912);
    margin-left: 55px;
  }

  .student-img {
    margin-bottom: 0;
  }

  center {
    font-size: 10px;
    margin-top: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .tel {
    font-size: 15px;
  }

  .email {
    font-size: 15px;
    margin-top: 19px;
  }
}

@media (max-width: 350px) {
  .nav-img {
    width: 100%;
    height: 60px;
  }

  .menu {
    width: 70%;
    top: 10px;
  }

  .menu a {
    height: 7px;
    box-shadow: 1px 2px #fff;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 4px;
  }

  .logo {
    width: 20%;
    top: 8px;
  }

  .apply-section {
    right: 20px;
    top: 35px;
    width: 40%;
  }

  .blue {
    font-size: 5px;
  }

  .purple {
    font-size: 0.6rem;
  }

  button {
    width: 44px;
    margin-left: 30px;
  }

  .student-img {
    margin-bottom: 0;
    margin-top: 10%;
  }
}