* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
  color: #1e2a5a;
}

/* HEADER */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f3f93;
  padding: 20px 40px;
}

.logo-area img {
  width: 80px;
}

.logo-area h2 {
  color: white;
  margin-top: 5px;
}

.logo-area p {
  color: #ffcc00;
  font-size: 12px;
}

/* NAV */
.nav-menu a {
  background: #1cb0e6;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* HERO */

.hero-3 {
  display: flex;
  background: linear-gradient(135deg, #3238e3 50%, #ffffff 50%);
  padding: 50px;
}

.hero-4 {
  display: flex;
  background: linear-gradient(0135deg, #3238e3 50%, #ffffff 50%);
  padding: 50px;
} 
.hero-1 {
  display: flex;
  background: linear-gradient(2340deg, #3238e3 50%, #ffffff 50%);
  padding: 50px;
}

.hero-2 {
  display: flex;
  background: linear-gradient(0deg, #3238e3 50%, #ffffff 50%);
  padding: 50px;
}



.hero {
  display: flex;
  background: linear-gradient(135deg, #e33232 50%, #ffffff 50%);
  padding: 50px;
}

.hero-left {
  width: 50%;
  color: white;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.apply-btn {
  background: #e33232;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 20px;
  border: 5px solid #1f3f93;
}

.hero-right img {
  width: 100%;
  border-radius: 5px;
}

/* TAGLINE */
.tagline {
  padding: 50px;
  text-align: center;
}

.small-text {
  font-size: 18px;
  color: #333;
}

.tagline h2 {
  font-size: 36px;
  color: #1f3f93;
  margin-top: 15px;
}

/* FOOTER */
.footer {
  background: #1f3f93;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer span {
  margin: 0 15px;
}